.vscode/**
.git/**
.gitignore
tsconfig.json
jest.config.js
**/*.ts
**/*.map
.nyc_output/**
coverage/**
node_modules/**
out/test/**
out/**/*.map
src/**
tests/**
.env
.env.*
*.log
.DS_Store
Thumbs.db
**/.git/**
test-package.vsix